html {
    background: rgb(218, 211, 213);
}

.image {
    float: right;
    border-radius: 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: initial;
}

header {
    background: rgb(238, 200, 216);
    margin: 0 0 0 0;
    padding: 30px;
}

a {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.quote {
    font-family: cursive;
    height: 100px;
    width: 500px;
    margin: 0 auto;
}

.name {
    font-size: 50px;
    font-family: fahkwang;
    text-align: center;
}

footer {
    background: rgb(238, 200, 216);
}

.github {
    border-radius: 50%;
}

.linkedin {
    border-radius: 50%;
}

.nav-bar {
    padding: 30px;
}

.aboutme,
.featuredwork {
    height: 100px;
    width: 600px;
    margin: 0 auto;
    padding: 0 0 50px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5em;
}

.aboutmetitle,
.featuredworktitle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 200px 0 0 0;
}

.sec1 {}

title {
    padding: 100px 0 0 0;
}

.featuredworktitle {
    padding: 100px 0 0 0;
}